body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.modal-form{
    display: flex;
    flex-direction: column;
}

.modal-next{
    text-align: right;
    margin: 2% auto;
}

.add-student-modal{
    display: flex;
    flex-direction: column;
}

.search-student-wrap-modal{
    display: flex;
    flex-direction: row;
    border: solid 1px;
    justify-content: center;
}

.search-student-wrap-modal input[type=text]{
    width: 100%;
}

.student-list-modal{
    height: 200px;
    border: solid 1px;
    overflow-y: scroll;

}

.student-list-btn-modal{
    text-align: right;
}

.student-list-btn-modal button{
    margin: 4% 0% 2% 2%;
}




/* Student Accordion css*/
.student-wrap-accord{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: auto;
}


.add-chapter{
    text-align: right;
    padding: 30px 0px;
}

.studentAccord{ 
    width: 100%;
    font-family: "croissant one";

}

.stdntContainer {
    font-family: "croissant one";
    text-align: left;
    margin-top: 2%;
}


#student-modal{
    z-index: 10;
}

.btn-watch-video{
    margin-top: 1%;
}

.student-found{
    display: flex;
    flex-direction: row;
    height: 20%;
    padding-left: 5%;
    cursor: pointer;
}

.student-found-img{
    width: 12%;
    border-radius: 50%;
}

.student-found-desc{
    width: 70%;
    font-size: 0.9rem;
    margin-left: 5%;
}


.student-found > div{
    margin-top: 2%;
}


