.settings-container{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
}

.reset-password-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reset-password-container > div{
    margin-bottom: 2%;
}

.new-password-btn{
    width: 70%;
    margin-top: 2%;
}